/* Styles từ inline <style> được gộp lại */
.uk-offcanvas {
							display: none;
							position: static;

z-index: 1000;
							touch-action: none;
							background: rgba(0, 0, 0, .1);
						}

						.uk-offcanvas-bar {
							position: static;

-webkit-transform: translateX(0);
							transform: translateX(0);
							z-index: 1001;
							width: 100%;
							max-width: 100%;
							background: #333;
							overflow-y: auto;
							-webkit-overflow-scrolling: touch;
							-webkit-transition: -webkit-transform .3s ease-in-out;
							transition: transform .3s ease-in-out;
							-ms-scroll-chaining: none;
						}

						.uk-offcanvas-bar:after {
							background: transparent;
						}

						.uk-nav-offcanvas {
							border-color: rgba(0, 0, 0, 0.1);
							border-bottom: 0;
						}

						.uk-offcanvas-bar {
							background: #fff;
						}

						.uk-offcanvas .uk-search-field {
							background: #000;
						}

						.uk-offcanvas-bar:after {
							box-shadow: none;
							border: 0;
						}

						.uk-nav-offcanvas>.uk-open>a,
						.uk-nav-offcanvas>li>a:focus,
						.uk-nav-offcanvas>li>a:hover {
							color: #222 !important;
							background: #fff !important;
						}

						.uk-nav-offcanvas>li>a {
							color: #222;
							text-shadow: none;
							box-shadow: none !important;
						}

						.uk-nav-offcanvas li a {
							border-top: 1px solid rgba(0, 0, 0, 0.1);
						}

						.uk-nav-offcanvas>li>a.l1 {
position: relative;
						}

						.offcanvas li.l1>a.dropicon {
							position: absolute;
							z-index: 0;
							padding: 10px 21px;
border-left: 0;
							right: 0;
							top: 0;
							width: 0;
						}

						.uk-nav.uk-nav-offcanvas>li.uk-active>a {
							background: #fff !important;
							color: #222 !important;
							box-shadow: none !important;
						}

						.uk-offcanvas .uk-search-field {
							background: #fff !important;
							border: 1px solid #ddd;
						}

						.uk-nav-offcanvas ul a {
							color: #666;
							padding: 10px 15px;
						}

						.uk-nav-offcanvas ul a:hover {
							color: #000 !important;
						}

						.uk-nav-offcanvas .uk-nav-sub {
							box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
							border-top: 1px solid rgba(0, 0, 0, 0.1);
						}

						ul.uk-nav-sub {
							padding: 0px 0 0px 20px;
						}

						ul.uk-nav-sub>li:nth-child(1) a {
							border-top: 0;
						}

						.offcanvas li.uk-parent>a:not(.dropicon) {
							border-right: 0px solid rgba(0, 0, 0, 0.1);
							margin-right: 42px;
						}

						.offcanvas li.l1>a.dropicon {
							position: absolute;
							z-index: 0;
							padding: 14px 21px;
							border-left: 0;
							right: 0;
							top: 0;
						}

						.uk-nav-parent-icon>.uk-parent>a:after {
							content: "\f067";
							width: 20px;
							margin-right: -10px;
							float: right;
							font-family: FontAwesome;
							text-align: center;
							font-size: 10px;
						}

						.uk-nav-parent-icon>.uk-parent.uk-open>a:after {
							content: "\f068";
						}
/* Menu dropdown */

						.mobile-hd-categories .dropdown-box {
							padding: 0;
							background: #fff;
							border: 1px solid #eaeaea;
							border-top: 0;
							overflow: hidden;
							position: absolute;
							top: 100%;
							right: 0;
							width: 100%;
							z-index: 9999;
							-moz-transform: scaleY(0);
							-ms-transform: scaleY(0);
							-o-transform: scaleY(0);
							-webkit-transform: scaleY(0);
							transform: scaleY(0);
							-moz-transform-origin: 0 0;
							-ms-transform-origin: 0 0;
							-o-transform-origin: 0 0;
							-webkit-transform-origin: 0 0;
							transform-origin: 0 0;
							-moz-transition: -moz-transform .3s ease-in-out;
							-ms-transition: -ms-transform .3s ease-in-out;
							-o-transition: -o-transform .3s ease-in-out;
							-webkit-transition: -webkit-transform .3s ease-in-out;
							transition: transform .3s ease-in-out;
							text-align: left;
						}

						.mobile-hd-categories .dropdown-box.active {
							width: 100%;
							-moz-transform: scaleY(1);
							-ms-transform: scaleY(1);
							-o-transform: scaleY(1);
							-webkit-transform: scaleY(1);
							transform: scaleY(1);
							position: absolute;
							-webkit-box-shadow: 0px 1px 1px #c6c6c6;
							-moz-box-shadow: 0px 1px 1px #c6c6c6;
							-ms-box-shadow: 0px 1px 1px #c6c6c6;
							-o-box-shadow: 0px 1px 1px #c6c6c6;
							box-shadow: 0px 1px 1px #c6c6c6;
						}

						
						.ht2109_navigation-mobile {
background: #666;
						}

						.outer_moblie-menu-btn {
							background: #232323;
							width: 45px;
							height: 40px;
							position: relative;
						}

						.ht2109_navigation-mobile_item {}

						.ht2109_navigation-mobile_item>* {
							display: block;
							color: #fff;
						}

						.ht2109_navigation-mobile_item>*>* {
							display: block;
						}

.uk-offcanvas {
                            display: none;
                            position: static;

z-index: 1000;
                            touch-action: none;
                            background: rgba(0, 0, 0, .1);
                        }

                        .uk-offcanvas-bar {
                            position: static;

-webkit-transform: translateX(0);
                            transform: translateX(0);
                            z-index: 1001;
                            width: 100%;
                            max-width: 100%;
                            background: #333;
                            overflow-y: auto;
                            -webkit-overflow-scrolling: touch;
                            -webkit-transition: -webkit-transform .3s ease-in-out;
                            transition: transform .3s ease-in-out;
                            -ms-scroll-chaining: none;
                        }

                        .uk-offcanvas-bar:after {
                            background: transparent;
                        }

                        .uk-nav-offcanvas {
                            border-color: rgba(0, 0, 0, 0.1);
                            border-bottom: 0;
                        }

                        .uk-offcanvas-bar {
                            background: #fff;
                        }

                        .uk-offcanvas .uk-search-field {
                            background: #000;
                        }

                        .uk-offcanvas-bar:after {
                            box-shadow: none;
                            border: 0;
                        }

                        .uk-nav-offcanvas>.uk-open>a,
                        .uk-nav-offcanvas>li>a:focus,
                        .uk-nav-offcanvas>li>a:hover {
                            color: #222 !important;
                            background: #fff !important;
                        }

                        .uk-nav-offcanvas>li>a {
                            color: #222;
                            text-shadow: none;
                            box-shadow: none !important;
                        }

                        .uk-nav-offcanvas li a {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        .uk-nav-offcanvas>li>a.l1 {
position: relative;
                        }

                        .offcanvas li.l1>a.dropicon {
                            position: absolute;
                            z-index: 0;
                            padding: 10px 21px;
border-left: 0;
                            right: 0;
                            top: 0;
                            width: 0;
                        }

                        .uk-nav.uk-nav-offcanvas>li.uk-active>a {
                            background: #fff !important;
                            color: #222 !important;
                            box-shadow: none !important;
                        }

                        .uk-offcanvas .uk-search-field {
                            background: #fff !important;
                            border: 1px solid #ddd;
                        }

                        .uk-nav-offcanvas ul a {
                            color: #666;
                            padding: 10px 15px;
                        }

                        .uk-nav-offcanvas ul a:hover {
                            color: #000 !important;
                        }

                        .uk-nav-offcanvas .uk-nav-sub {
                            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                        }

                        ul.uk-nav-sub {
                            padding: 0px 0 0px 20px;
                        }

                        ul.uk-nav-sub>li:nth-child(1) a {
                            border-top: 0;
                        }

                        .offcanvas li.uk-parent>a:not(.dropicon) {
                            border-right: 0px solid rgba(0, 0, 0, 0.1);
                            margin-right: 42px;
                        }

                        .offcanvas li.l1>a.dropicon {
                            position: absolute;
                            z-index: 0;
                            padding: 14px 21px;
                            border-left: 0;
                            right: 0;
                            top: 0;
                        }

                        .uk-nav-parent-icon>.uk-parent>a:after {
                            content: "\f067";
                            width: 20px;
                            margin-right: -10px;
                            float: right;
                            font-family: FontAwesome;
                            text-align: center;
                            font-size: 10px;
                        }

                        .uk-nav-parent-icon>.uk-parent.uk-open>a:after {
                            content: "\f068";
                        }
/* Menu dropdown */

                        .mobile-hd-categories .dropdown-box {
                            padding: 0;
                            background: #fff;
                            border: 1px solid #eaeaea;
                            border-top: 0;
                            overflow: hidden;
                            position: absolute;
                            top: 100%;
                            right: 0;
                            width: 100%;
                            z-index: 9999;
                            -moz-transform: scaleY(0);
                            -ms-transform: scaleY(0);
                            -o-transform: scaleY(0);
                            -webkit-transform: scaleY(0);
                            transform: scaleY(0);
                            -moz-transform-origin: 0 0;
                            -ms-transform-origin: 0 0;
                            -o-transform-origin: 0 0;
                            -webkit-transform-origin: 0 0;
                            transform-origin: 0 0;
                            -moz-transition: -moz-transform .3s ease-in-out;
                            -ms-transition: -ms-transform .3s ease-in-out;
                            -o-transition: -o-transform .3s ease-in-out;
                            -webkit-transition: -webkit-transform .3s ease-in-out;
                            transition: transform .3s ease-in-out;
                            text-align: left;
                        }

                        .mobile-hd-categories .dropdown-box.active {
                            width: 100%;
                            -moz-transform: scaleY(1);
                            -ms-transform: scaleY(1);
                            -o-transform: scaleY(1);
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                            position: absolute;
                            -webkit-box-shadow: 0px 1px 1px #c6c6c6;
                            -moz-box-shadow: 0px 1px 1px #c6c6c6;
                            -ms-box-shadow: 0px 1px 1px #c6c6c6;
                            -o-box-shadow: 0px 1px 1px #c6c6c6;
                            box-shadow: 0px 1px 1px #c6c6c6;
                        }

                        
                        .ht2109_navigation-mobile {
background: #666;
                        }

                        .outer_moblie-menu-btn {
                            background: #232323;
                            width: 45px;
                            height: 40px;
                            position: relative;
                        }

                        .ht2109_navigation-mobile_item {}

                        .ht2109_navigation-mobile_item>* {
                            display: block;
                            color: #fff;
                        }

                        .ht2109_navigation-mobile_item>*>* {
                            display: block;
                        }

.list-children li.uk-active a {
				background: var(--main);
				color: #fff;
			}

			.uk-switcher .pagination {
				width: 100%;
			}
.list-children li.uk-active a {
				background: #0061d0;
				color: #fff;
			}

			.uk-switcher .pagination {
				width: 100%;
			}
.hide {
								opacity: 0 !important;
							}
.partner-section {
								padding: 20px 0 40px 0;

}

							.partner-section .heading-1 {
								margin-bottom: var(--mg);
							}

							.simply-scroll,
							.simply-scroll .simply-scroll-clip {
								width: 100%;
								height: auto;
								margin-bottom: 0;
							}

							.simply-scroll .simply-scroll-list li {
								width: 250px;
								height: auto;
								margin-right: 30px;
							}

							.list>li>.thumb {
}

							.list>li>.thumb .image {
								box-shadow: 0px 0px 0 0 #999;
								height: 150px;
								position: relative;
								border: 1px solid #dfdfdf;
							}

							.list>li>.thumb .image>img {
								max-width: 100%;
								position: absolute;
								top: 0px;
								bottom: 0px;
								left: 0px;
								right: 0px;
								margin: auto;
								max-height: 100%;
								opacity: .6;
								-webkit-transition-duration: .3s;
								transition-duration: .3s;
							}

							.list>li>.thumb .image:hover>img {
								opacity: 1;
							}
.nice-select .list,
							.nice-select {
								width: 200px !important
							}

							.nice-select .list {
								height: 300px;
								overflow-y: scroll;
							}
.title-accordion h2 {
				font-size: 14px;
				position: relative;
				margin-bottom: 0;
			}

			.title-accordion h2:after {
				position: absolute;
				content: "\f107";
				left: -20px;
				font-family: fontawesome;
				top: 50%;
				transform: translateY(-50%);
				transition: all ease-in-out 0.2s;
			}

			.title-accordion.uk-active h2:after {
				content: "\f106";
			}
