/* // XXXXL-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1800px) {
     .container {
          max-width: 1600px;
     }
}
/* // XXXL-Large devices (larger desktops, 1400px and up) */

@media (max-width: 1599.98px) {
     .container {
          max-width: 1400px;
     }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1399.98px) {
     .container {
          max-width: 1200px;
     }
     #text-run {
          font-size: 24px;
     }
     .title-main-s {
          font-size: 29px;
     }

     .des-main {
          font-size: 17px;
          padding: 0px 0 20px 0;
     }

     .products-wrap {
          padding: 40px;
          min-height: 500px;
     }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1300px) {

     #navbar a,.sp {
          font-size: 20px;
          margin: 0 10px;
     }
     #text-run {
          font-size: 23px;
     }

     .title-main-l {
          font-size: 40px;
          padding: 10px 0;
     }

     .des-main {
          font-size: 17px;
          padding: 0px 0 20px 0;
     }
     /* .project img {
          min-height: 400px;
     } */
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
     #navbar a,.sp {
          font-size: 18px;
          margin: 0 8px;
     }
     #text-run {
          font-size: 22px;
     }
     .title-main-s {
          font-size: 23px;
     }
     .title-main-l {
          font-size: 38px;
          padding: 9px 0;
     }
}

/*  */
@media (max-width: 1100px) {
     #navbar a,.sp {
          font-size: 18px;
     }
     #text-run {
          font-size: 20px;
     }

     .title-main-l {
          font-size: 36px;
          padding: 8px 0;
     }
     .project img {
          min-height: 400px;
     }
     .group-img img {
          width: 100%;
     }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
     #navbar {
          display: none;
     }
     .header-wrap {
          padding: 10;
          min-height: 80px;
     }

     #carousel,
     #thumb {
          margin-top: 80px;
     }
     .show {
          top: 80px;
     }
     .menu-mobile {
          display: block;
     }
     #text-run {
          font-size: 19px;
     }
     .title-main-s {
          font-size: 28px;
     }
     .title-main-l {
          font-size: 40px;
          padding: 20px 0;
     }
     .des-main {
          font-size: 22px;
     }
     #services .title-main-s {
          font-size: 22px;
     }
     #services .des-main {
          font-size: 18px;
     }
     .service-item svg {
          margin-top: 2px;
          color: #243f99;
          width: 20px;
     }
     .project img {
          min-height: 550px;
     }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
     #navbar {
          display: none;
     }
     #text-run {
          font-size: 18px;
     }
     .title-main-l {
          font-size: 32px;
     }
     .des-main {
          font-size: 20px;
     }
     .menu-mobile {
          display: block;
     }
     .header-wrap {
          padding: 10;
          min-height: 80px;
     }
}
/*  */
@media (max-width: 575.98px) {
     /* header  */
     #navbar {
          display: none;
     }
     #navbar a:hover {
          background-color: #243f99;
          color: #fff;
     }
     .header-wrap {
          padding: 40px;
          min-height: auto;
     }
     #navbar a,
     .sp {
          margin: 0;
     }
     #navbar a:hover,
     .sp:hover {
          color: #fff; background-color: #5e8bdf;
     }
     /* // thumb  */
     #carousel,
     #thumb {
          margin-top: 60px;
     }
     .show {
          top: 100%;
     }
     /* text run  */
     #text-run {
          font-size: 18px;
     }
     /* title , des  */
     .title-main-l {
          font-size: 32px;
     }
     .title-main-m {
     font-size: 28px;
     padding: 15px;
     }
     /* des  */
     .des-main {
          font-size: 18px;
          text-align: center;
          padding:0 10px;
     }
     .des-main-l {
     text-align: center;
     }
     /* gt  */
     .gt {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     /* products   */
     .products {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .products-wrap {
          max-width: 400px;
     }
     /* project  */
     #projects {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .project {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .project-wrap {
          max-width: 400px;
     }
     .loop {
          display: flex;
          flex-direction: column;
          align-items: center;
     }
}
@media (max-width: 375.98px) {
     .logo{
          width: 150px;
     }
     .header-wrap {
          padding: 20px;

     }
     #thumb{
          min-height: 250px;
          max-height: 300px;
     }
     #thumb .title{
          font-size: 30px;
     }
     .des-main{
          font-size: 16px;

     }
     .des-main-l{
          font-size: 16px;
     }
     .title-main-l{
          font-size: 25px;

     }
     .title-main-m{
          font-size: 18px;
          text-align: left;
     }
     .title-main-s{
          font-size: 20px;

     }
     .detail-main {
          font-size: 16px;
     }

     .footer-wrap img{
          width: 200px;
     }
}
